<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack/attack/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,188},{154,168}}</string>
                <key>offset</key>
                <string>{-4,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{431,417},{154,168}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack/00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,358},{142,160}}</string>
                <key>offset</key>
                <string>{-10,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{431,420},{142,160}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack/00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,2},{162,176}}</string>
                <key>offset</key>
                <string>{4,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{435,404},{162,176}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack/00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,214},{144,180}}</string>
                <key>offset</key>
                <string>{3,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{443,381},{144,180}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack/00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,504},{146,146}}</string>
                <key>offset</key>
                <string>{-18,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{421,386},{146,146}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,574},{152,152}}</string>
                <key>offset</key>
                <string>{-40,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{396,421},{152,152}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack/10010.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,350},{156,152}}</string>
                <key>offset</key>
                <string>{-41,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{393,421},{156,152}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack/10015.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,2},{174,158}}</string>
                <key>offset</key>
                <string>{-27,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{398,405},{174,158}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack/10020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{218,140}}</string>
                <key>offset</key>
                <string>{12,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{415,402},{218,140}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack/10025.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,344},{156,158}}</string>
                <key>offset</key>
                <string>{-9,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{425,383},{156,158}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack/20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,502},{160,154}}</string>
                <key>offset</key>
                <string>{-32,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{400,404},{160,154}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack/20010.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,2},{164,172}}</string>
                <key>offset</key>
                <string>{-30,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{400,376},{164,172}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack/20015.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,176},{166,142}}</string>
                <key>offset</key>
                <string>{-24,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{405,401},{166,142}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack/20020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{208,122}}</string>
                <key>offset</key>
                <string>{9,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{417,402},{208,122}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack/20025.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,216},{190,126}}</string>
                <key>offset</key>
                <string>{0,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{417,405},{190,126}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack/30005.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,180},{160,168}}</string>
                <key>offset</key>
                <string>{-13,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{419,358},{160,168}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack/30010.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{162,184}}</string>
                <key>offset</key>
                <string>{-7,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{424,344},{162,184}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack/30015.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,308},{142,116}}</string>
                <key>offset</key>
                <string>{-11,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{430,414},{142,116}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack/30020.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,504},{126,122}}</string>
                <key>offset</key>
                <string>{-4,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{445,408},{126,122}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack/30025.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,436},{200,126}}</string>
                <key>offset</key>
                <string>{26,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{438,404},{200,126}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack/40005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{154,212}}</string>
                <key>offset</key>
                <string>{4,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{439,335},{154,212}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack/40010.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{144,210}}</string>
                <key>offset</key>
                <string>{10,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{450,342},{144,210}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack/40015.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,408},{164,142}}</string>
                <key>offset</key>
                <string>{-5,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{425,404},{164,142}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack/40020.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,162},{144,126}}</string>
                <key>offset</key>
                <string>{-4,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{436,420},{144,126}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack/40025.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,504},{146,146}}</string>
                <key>offset</key>
                <string>{17,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{456,400},{146,146}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>attack01.png</string>
            <key>size</key>
            <string>{1014,728}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:00c10a390da9c4f4d87a8089fd87bf98:82df5cbe1d908505453aec8aa7eb462e:b45343a9a9cbf64ae4319aec0b58206e$</string>
            <key>textureFileName</key>
            <string>attack01.png</string>
        </dict>
    </dict>
</plist>
