<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack/attack5/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,610},{138,170}}</string>
                <key>offset</key>
                <string>{-7,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{436,417},{138,170}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack5/00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,138},{134,192}}</string>
                <key>offset</key>
                <string>{-11,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{434,409},{134,192}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack5/00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,200},{164,180}}</string>
                <key>offset</key>
                <string>{-23,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{407,408},{164,180}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack5/00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,690},{136,204}}</string>
                <key>offset</key>
                <string>{-4,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{440,367},{136,204}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack5/00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,136},{130,198}}</string>
                <key>offset</key>
                <string>{2,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{449,383},{130,198}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack5/00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,702},{174,154}}</string>
                <key>offset</key>
                <string>{9,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{434,399},{174,154}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack5/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,382},{172,152}}</string>
                <key>offset</key>
                <string>{-29,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{397,421},{172,152}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack5/10010.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,566},{180,140}}</string>
                <key>offset</key>
                <string>{-26,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{396,430},{180,140}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack5/10015.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,414},{182,150}}</string>
                <key>offset</key>
                <string>{-23,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{398,410},{182,150}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack5/10020.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{132,216}}</string>
                <key>offset</key>
                <string>{-25,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{421,346},{132,216}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack5/10025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{126,230}}</string>
                <key>offset</key>
                <string>{-10,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{439,349},{126,230}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack5/10030.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,708},{144,170}}</string>
                <key>offset</key>
                <string>{-1,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{439,377},{144,170}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack5/20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,854},{174,140}}</string>
                <key>offset</key>
                <string>{-32,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{393,413},{174,140}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack5/20010.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,534},{170,166}}</string>
                <key>offset</key>
                <string>{-22,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{405,384},{170,166}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack5/20015.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,876},{140,128}}</string>
                <key>offset</key>
                <string>{-18,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{424,414},{140,128}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack5/20020.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{164,196}}</string>
                <key>offset</key>
                <string>{-1,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{429,358},{164,196}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack5/20025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{134,232}}</string>
                <key>offset</key>
                <string>{-37,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{408,328},{134,232}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack5/20030.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,268},{116,188}}</string>
                <key>offset</key>
                <string>{-33,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{421,351},{116,188}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack5/30005.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,446},{162,130}}</string>
                <key>offset</key>
                <string>{-16,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{415,398},{162,130}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack5/30010.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,690},{164,184}}</string>
                <key>offset</key>
                <string>{-4,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{426,344},{164,184}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack5/30015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,896},{144,118}}</string>
                <key>offset</key>
                <string>{3,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{443,417},{144,118}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack5/30020.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,386},{178,146}}</string>
                <key>offset</key>
                <string>{16,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{439,392},{178,146}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack5/30025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,468},{124,220}}</string>
                <key>offset</key>
                <string>{-31,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{419,327},{124,220}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack5/30030.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,536},{152,176}}</string>
                <key>offset</key>
                <string>{-36,73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{400,351},{152,176}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack5/40005.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,274},{138,186}}</string>
                <key>offset</key>
                <string>{7,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{450,359},{138,186}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack5/40010.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,2},{134,212}}</string>
                <key>offset</key>
                <string>{11,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{456,335},{134,212}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack5/40015.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,138},{166,102}}</string>
                <key>offset</key>
                <string>{23,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{452,424},{166,102}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack5/40020.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,306},{138,108}}</string>
                <key>offset</key>
                <string>{4,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{447,406},{138,108}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack5/40025.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,878},{130,182}}</string>
                <key>offset</key>
                <string>{-2,75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{445,346},{130,182}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack5/40030.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,782},{172,140}}</string>
                <key>offset</key>
                <string>{-9,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{417,371},{172,140}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>attack05.png</string>
            <key>size</key>
            <string>{803,1017}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:65e11c2116b7f665ea992cc902c60250:53285593a2c206040a22c386e28c7477:fa62b3a3a41b4b97189956244ad752d0$</string>
            <key>textureFileName</key>
            <string>attack05.png</string>
        </dict>
    </dict>
</plist>
