<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack/attack6/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,2},{156,172}}</string>
                <key>offset</key>
                <string>{13,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{447,425},{156,172}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack6/00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,2},{156,154}}</string>
                <key>offset</key>
                <string>{18,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{452,445},{156,154}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack6/00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,376},{172,160}}</string>
                <key>offset</key>
                <string>{32,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{458,444},{172,160}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack6/00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,314},{120,202}}</string>
                <key>offset</key>
                <string>{37,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{489,355},{120,202}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack6/00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,314},{146,170}}</string>
                <key>offset</key>
                <string>{14,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{453,373},{146,170}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack6/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,310},{140,164}}</string>
                <key>offset</key>
                <string>{-22,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{420,427},{140,164}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack6/10010.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,550},{164,156}}</string>
                <key>offset</key>
                <string>{-23,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{407,441},{164,156}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack6/10015.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,566},{158,180}}</string>
                <key>offset</key>
                <string>{-18,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{415,439},{158,180}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack6/10020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{182,198}}</string>
                <key>offset</key>
                <string>{35,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{456,385},{182,198}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack6/10025.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,2},{158,164}}</string>
                <key>offset</key>
                <string>{0,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{433,387},{158,164}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack6/20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{182,158}}</string>
                <key>offset</key>
                <string>{-45,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{376,417},{182,158}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack6/20010.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,202},{184,176}}</string>
                <key>offset</key>
                <string>{-46,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{374,409},{184,176}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack6/20015.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{162,188}}</string>
                <key>offset</key>
                <string>{-35,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{396,416},{162,188}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack6/20020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{230,148}}</string>
                <key>offset</key>
                <string>{34,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{431,422},{230,148}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack6/20025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,628},{212,136}}</string>
                <key>offset</key>
                <string>{-4,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{402,417},{212,136}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack6/30005.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,168},{172,140}}</string>
                <key>offset</key>
                <string>{-40,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{386,407},{172,140}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack6/30010.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,192},{166,182}}</string>
                <key>offset</key>
                <string>{-58,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{371,383},{166,182}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack6/30015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{174,192}}</string>
                <key>offset</key>
                <string>{-62,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{363,374},{174,192}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack6/30020.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,186},{216,126}}</string>
                <key>offset</key>
                <string>{-6,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{398,422},{216,126}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack6/30025.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,646},{204,118}}</string>
                <key>offset</key>
                <string>{-27,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{383,420},{204,118}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack6/40005.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,476},{156,140}}</string>
                <key>offset</key>
                <string>{-13,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{421,399},{156,140}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack6/40010.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,436},{156,150}}</string>
                <key>offset</key>
                <string>{-18,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{416,389},{156,150}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack6/40015.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,388},{172,176}}</string>
                <key>offset</key>
                <string>{-32,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{394,364},{172,176}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack6/40020.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,618},{126,128}}</string>
                <key>offset</key>
                <string>{-40,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{409,421},{126,128}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack6/40025.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,486},{158,154}}</string>
                <key>offset</key>
                <string>{-1,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{432,374},{158,154}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>attack06.png</string>
            <key>size</key>
            <string>{1008,766}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4daabc1635955ea9b508964fab024dfa:c8f9b4ed0d8ad300683dfcfcb946fbf4:d979f62a3c29855bd3e9fb570eec4768$</string>
            <key>textureFileName</key>
            <string>attack06.png</string>
        </dict>
    </dict>
</plist>
