<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack/attack7/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,508},{144,168}}</string>
                <key>offset</key>
                <string>{-10,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{430,405},{144,168}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack7/00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,110},{142,122}}</string>
                <key>offset</key>
                <string>{-15,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{426,431},{142,122}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack7/00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,112},{126,122}}</string>
                <key>offset</key>
                <string>{-32,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{417,410},{126,122}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack7/00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,528},{148,160}}</string>
                <key>offset</key>
                <string>{-2,78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{436,354},{148,160}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack7/00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,384},{152,142}}</string>
                <key>offset</key>
                <string>{18,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{454,389},{152,142}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack7/00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,236},{132,190}}</string>
                <key>offset</key>
                <string>{11,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{457,388},{132,190}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack7/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,248},{134,162}}</string>
                <key>offset</key>
                <string>{-36,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{409,405},{134,162}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack7/10010.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{118,108}}</string>
                <key>offset</key>
                <string>{-18,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{435,423},{118,108}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack7/10015.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,2},{116,136}}</string>
                <key>offset</key>
                <string>{5,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{459,385},{116,136}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack7/10020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{186,136}}</string>
                <key>offset</key>
                <string>{13,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{432,377},{186,136}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack7/10025.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,516},{144,174}}</string>
                <key>offset</key>
                <string>{23,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{463,370},{144,174}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack7/10030.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,250},{134,192}}</string>
                <key>offset</key>
                <string>{6,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{451,393},{134,192}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack7/20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,376},{136,146}}</string>
                <key>offset</key>
                <string>{-32,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{412,405},{136,146}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack7/20010.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{116,110}}</string>
                <key>offset</key>
                <string>{-2,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{452,406},{116,110}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack7/20015.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,376},{152,138}}</string>
                <key>offset</key>
                <string>{7,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{443,382},{152,138}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack7/20020.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,242},{176,132}}</string>
                <key>offset</key>
                <string>{30,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{454,397},{176,132}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack7/20025.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{106,198}}</string>
                <key>offset</key>
                <string>{6,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{465,370},{106,198}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack7/20030.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,178}}</string>
                <key>offset</key>
                <string>{-17,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{444,389},{102,178}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack7/30005.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,114},{144,126}}</string>
                <key>offset</key>
                <string>{-15,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{425,396},{144,126}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack7/30010.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,250},{134,150}}</string>
                <key>offset</key>
                <string>{1,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{446,390},{134,150}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack7/30015.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,530},{150,152}}</string>
                <key>offset</key>
                <string>{12,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{449,385},{150,152}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack7/30020.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,2},{116,166}}</string>
                <key>offset</key>
                <string>{13,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{467,384},{116,166}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack7/30025.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,120},{128,190}}</string>
                <key>offset</key>
                <string>{-2,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{446,380},{128,190}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack7/30030.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{118,154}}</string>
                <key>offset</key>
                <string>{-13,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{440,382},{118,154}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack7/40005.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,386},{142,154}}</string>
                <key>offset</key>
                <string>{9,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{450,391},{142,154}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack7/40010.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,386},{142,168}}</string>
                <key>offset</key>
                <string>{15,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{456,386},{142,168}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack7/40015.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,120},{126,178}}</string>
                <key>offset</key>
                <string>{31,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{480,383},{126,178}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack7/40020.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,530},{148,180}}</string>
                <key>offset</key>
                <string>{0,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{438,377},{148,180}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack7/40025.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,530},{152,148}}</string>
                <key>offset</key>
                <string>{-18,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{418,384},{152,148}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack7/40030.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{132,136}}</string>
                <key>offset</key>
                <string>{-12,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{434,373},{132,136}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>attack07.png</string>
            <key>size</key>
            <string>{1020,682}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a9120eb44203e2a75ea245ab0233c396:0762af9531d2e30752987fbaabebf2fa:5d12a739108793e3eb1cb6be913779df$</string>
            <key>textureFileName</key>
            <string>attack07.png</string>
        </dict>
    </dict>
</plist>
