<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack/attack3/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,748},{64,172}}</string>
                <key>offset</key>
                <string>{-3,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{477,370},{64,172}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack3/00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,554},{64,192}}</string>
                <key>offset</key>
                <string>{3,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{483,365},{64,192}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack3/00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,936},{64,180}}</string>
                <key>offset</key>
                <string>{2,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{482,378},{64,180}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack3/00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,936},{64,186}}</string>
                <key>offset</key>
                <string>{-3,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{477,370},{64,186}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack3/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,156},{202,130}}</string>
                <key>offset</key>
                <string>{-2,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{409,396},{202,130}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack3/10010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{196,152}}</string>
                <key>offset</key>
                <string>{-10,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{404,385},{196,152}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack3/10015.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,2},{200,136}}</string>
                <key>offset</key>
                <string>{-7,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{405,396},{200,136}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack3/10020.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,360},{186,148}}</string>
                <key>offset</key>
                <string>{1,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{420,387},{186,148}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack3/20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,356},{270,60}}</string>
                <key>offset</key>
                <string>{-6,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{371,431},{270,60}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack3/20010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,628},{270,70}}</string>
                <key>offset</key>
                <string>{-6,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{371,426},{270,70}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack3/20015.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,628},{270,58}}</string>
                <key>offset</key>
                <string>{-6,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{371,427},{270,58}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack3/20020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{270,70}}</string>
                <key>offset</key>
                <string>{-6,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{371,420},{270,70}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack3/30005.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,140},{204,130}}</string>
                <key>offset</key>
                <string>{-4,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{406,386},{204,130}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack3/30010.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,548},{188,146}}</string>
                <key>offset</key>
                <string>{2,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{420,382},{188,146}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack3/30015.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,346},{206,126}}</string>
                <key>offset</key>
                <string>{1,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{410,391},{206,126}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack3/30020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{198,150}}</string>
                <key>offset</key>
                <string>{-9,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{404,381},{198,150}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack3/40005.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,738},{64,180}}</string>
                <key>offset</key>
                <string>{2,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{482,359},{64,180}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack3/40010.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,748},{64,186}}</string>
                <key>offset</key>
                <string>{-3,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{477,361},{64,186}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack3/40015.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,738},{64,172}}</string>
                <key>offset</key>
                <string>{-2,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{478,375},{64,172}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>attack/attack3/40020.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,554},{64,192}}</string>
                <key>offset</key>
                <string>{3,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{483,360},{64,192}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>attack03.png</string>
            <key>size</key>
            <string>{418,1002}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a48bfdc622ee6d04a26b5dd87951cb2:59bd428f77afc116f32f8c2ff29f035a:112225e51db3f216612a541735511967$</string>
            <key>textureFileName</key>
            <string>attack03.png</string>
        </dict>
    </dict>
</plist>
