<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Sprite 2550001.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,71},{67,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,55}}</string>
                <key>sourceSize</key>
                <string>{67,55}</string>
            </dict>
            <key>Sprite 2550002.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{67,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,55}}</string>
                <key>sourceSize</key>
                <string>{67,55}</string>
            </dict>
            <key>Sprite 2550003.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,71},{67,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,55}}</string>
                <key>sourceSize</key>
                <string>{67,55}</string>
            </dict>
            <key>Sprite 2550004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,59},{67,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,55}}</string>
                <key>sourceSize</key>
                <string>{67,55}</string>
            </dict>
            <key>Sprite 2550005.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,140},{67,53}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{67,53}}</string>
                <key>sourceSize</key>
                <string>{67,55}</string>
            </dict>
            <key>Sprite 2550006.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,71},{67,53}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{67,53}}</string>
                <key>sourceSize</key>
                <string>{67,55}</string>
            </dict>
            <key>Sprite 2550007.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,2},{67,53}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{67,53}}</string>
                <key>sourceSize</key>
                <string>{67,55}</string>
            </dict>
            <key>Sprite 2550008.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,195},{67,53}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{67,53}}</string>
                <key>sourceSize</key>
                <string>{67,55}</string>
            </dict>
            <key>Sprite 2550009.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,140},{67,53}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{67,53}}</string>
                <key>sourceSize</key>
                <string>{67,55}</string>
            </dict>
            <key>Sprite 2550010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,183},{67,53}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{67,53}}</string>
                <key>sourceSize</key>
                <string>{67,55}</string>
            </dict>
            <key>Sprite 2550011.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,128},{67,53}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{67,53}}</string>
                <key>sourceSize</key>
                <string>{67,55}</string>
            </dict>
            <key>Sprite 2550012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{67,53}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{67,53}}</string>
                <key>sourceSize</key>
                <string>{67,55}</string>
            </dict>
            <key>Sprite 2550013.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,2},{67,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,55}}</string>
                <key>sourceSize</key>
                <string>{67,55}</string>
            </dict>
            <key>Sprite 2550014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{67,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,55}}</string>
                <key>sourceSize</key>
                <string>{67,55}</string>
            </dict>
            <key>Sprite 2550015.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,71},{67,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,55}}</string>
                <key>sourceSize</key>
                <string>{67,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>head.png</string>
            <key>size</key>
            <string>{250,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:72ae4c372861194a31c7d1a5b1a727ab:75f8a74fb63122601403149f50c1409c:28fe17bf3caa179e0366caf86367cd83$</string>
            <key>textureFileName</key>
            <string>head.png</string>
        </dict>
    </dict>
</plist>
