<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Sprite 2390001.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,422},{51,49}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,49}}</string>
                <key>sourceSize</key>
                <string>{51,85}</string>
            </dict>
            <key>Sprite 2390002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,89},{51,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,85}}</string>
                <key>sourceSize</key>
                <string>{51,85}</string>
            </dict>
            <key>Sprite 2390003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{51,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,85}}</string>
                <key>sourceSize</key>
                <string>{51,85}</string>
            </dict>
            <key>Sprite 2390004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{51,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{51,83}}</string>
                <key>sourceSize</key>
                <string>{51,85}</string>
            </dict>
            <key>Sprite 2390005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,261},{51,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{51,83}}</string>
                <key>sourceSize</key>
                <string>{51,85}</string>
            </dict>
            <key>Sprite 2390006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{51,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{51,83}}</string>
                <key>sourceSize</key>
                <string>{51,85}</string>
            </dict>
            <key>Sprite 2390007.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,2},{51,81}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{51,81}}</string>
                <key>sourceSize</key>
                <string>{51,85}</string>
            </dict>
            <key>Sprite 2390008.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{51,81}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{51,81}}</string>
                <key>sourceSize</key>
                <string>{51,85}</string>
            </dict>
            <key>Sprite 2390009.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,2},{51,81}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{51,81}}</string>
                <key>sourceSize</key>
                <string>{51,85}</string>
            </dict>
            <key>Sprite 2390010.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,136},{51,79}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{51,79}}</string>
                <key>sourceSize</key>
                <string>{51,85}</string>
            </dict>
            <key>Sprite 2390011.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,55},{51,79}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{51,79}}</string>
                <key>sourceSize</key>
                <string>{51,85}</string>
            </dict>
            <key>Sprite 2390012.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,2},{51,79}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{51,79}}</string>
                <key>sourceSize</key>
                <string>{51,85}</string>
            </dict>
            <key>Sprite 2390013.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{51,79}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{51,79}}</string>
                <key>sourceSize</key>
                <string>{51,85}</string>
            </dict>
            <key>Sprite 2390014.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,375},{51,77}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{51,77}}</string>
                <key>sourceSize</key>
                <string>{51,85}</string>
            </dict>
            <key>Sprite 2390015.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,296},{51,77}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{51,77}}</string>
                <key>sourceSize</key>
                <string>{51,85}</string>
            </dict>
            <key>Sprite 2390016.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,217},{51,77}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{51,77}}</string>
                <key>sourceSize</key>
                <string>{51,85}</string>
            </dict>
            <key>Sprite 2390017.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,55},{51,75}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{51,75}}</string>
                <key>sourceSize</key>
                <string>{51,85}</string>
            </dict>
            <key>Sprite 2390018.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,55},{51,75}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{51,75}}</string>
                <key>sourceSize</key>
                <string>{51,85}</string>
            </dict>
            <key>Sprite 2390019.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,55},{51,75}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{51,75}}</string>
                <key>sourceSize</key>
                <string>{51,85}</string>
            </dict>
            <key>Sprite 2390020.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,108},{51,73}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{51,73}}</string>
                <key>sourceSize</key>
                <string>{51,85}</string>
            </dict>
            <key>Sprite 2390021.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,55},{51,73}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{51,73}}</string>
                <key>sourceSize</key>
                <string>{51,85}</string>
            </dict>
            <key>Sprite 2390022.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,55},{51,73}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{51,73}}</string>
                <key>sourceSize</key>
                <string>{51,85}</string>
            </dict>
            <key>Sprite 2390023.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,402},{51,71}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{51,71}}</string>
                <key>sourceSize</key>
                <string>{51,85}</string>
            </dict>
            <key>Sprite 2390024.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,329},{51,71}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{51,71}}</string>
                <key>sourceSize</key>
                <string>{51,85}</string>
            </dict>
            <key>Sprite 2390025.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,256},{51,71}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{51,71}}</string>
                <key>sourceSize</key>
                <string>{51,85}</string>
            </dict>
            <key>Sprite 2390026.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,183},{51,71}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{51,71}}</string>
                <key>sourceSize</key>
                <string>{51,85}</string>
            </dict>
            <key>Sprite 2390027.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,250},{51,69}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{51,69}}</string>
                <key>sourceSize</key>
                <string>{51,85}</string>
            </dict>
            <key>Sprite 2390028.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,179},{51,69}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{51,69}}</string>
                <key>sourceSize</key>
                <string>{51,85}</string>
            </dict>
            <key>Sprite 2390029.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,108},{51,69}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{51,69}}</string>
                <key>sourceSize</key>
                <string>{51,85}</string>
            </dict>
            <key>Sprite 2390030.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,108},{51,67}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{51,67}}</string>
                <key>sourceSize</key>
                <string>{51,85}</string>
            </dict>
            <key>Sprite 2390031.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,390},{51,67}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{51,67}}</string>
                <key>sourceSize</key>
                <string>{51,85}</string>
            </dict>
            <key>Sprite 2390032.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,321},{51,67}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{51,67}}</string>
                <key>sourceSize</key>
                <string>{51,85}</string>
            </dict>
            <key>Sprite 2390033.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,311},{51,65}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{51,65}}</string>
                <key>sourceSize</key>
                <string>{51,85}</string>
            </dict>
            <key>Sprite 2390034.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,244},{51,65}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{51,65}}</string>
                <key>sourceSize</key>
                <string>{51,85}</string>
            </dict>
            <key>Sprite 2390035.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,177},{51,65}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{51,65}}</string>
                <key>sourceSize</key>
                <string>{51,85}</string>
            </dict>
            <key>Sprite 2390036.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,161},{51,63}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{51,63}}</string>
                <key>sourceSize</key>
                <string>{51,85}</string>
            </dict>
            <key>Sprite 2390037.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,108},{51,63}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,22},{51,63}}</string>
                <key>sourceSize</key>
                <string>{51,85}</string>
            </dict>
            <key>Sprite 2390038.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,378},{51,63}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{51,63}}</string>
                <key>sourceSize</key>
                <string>{51,85}</string>
            </dict>
            <key>Sprite 2390039.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,352},{51,61}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{51,61}}</string>
                <key>sourceSize</key>
                <string>{51,85}</string>
            </dict>
            <key>Sprite 2390040.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,289},{51,61}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{51,61}}</string>
                <key>sourceSize</key>
                <string>{51,85}</string>
            </dict>
            <key>Sprite 2390041.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,226},{51,61}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{51,61}}</string>
                <key>sourceSize</key>
                <string>{51,85}</string>
            </dict>
            <key>Sprite 2390042.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,214},{51,59}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{51,59}}</string>
                <key>sourceSize</key>
                <string>{51,85}</string>
            </dict>
            <key>Sprite 2390043.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,108},{51,59}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,26},{51,59}}</string>
                <key>sourceSize</key>
                <string>{51,85}</string>
            </dict>
            <key>Sprite 2390044.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,161},{51,59}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,26},{51,59}}</string>
                <key>sourceSize</key>
                <string>{51,85}</string>
            </dict>
            <key>Sprite 2390045.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,415},{51,59}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,26},{51,59}}</string>
                <key>sourceSize</key>
                <string>{51,85}</string>
            </dict>
            <key>Sprite 2390046.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,393},{51,57}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{51,57}}</string>
                <key>sourceSize</key>
                <string>{51,85}</string>
            </dict>
            <key>Sprite 2390047.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,334},{51,57}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{51,57}}</string>
                <key>sourceSize</key>
                <string>{51,85}</string>
            </dict>
            <key>Sprite 2390048.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,275},{51,57}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{51,57}}</string>
                <key>sourceSize</key>
                <string>{51,85}</string>
            </dict>
            <key>Sprite 2390049.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,108},{51,55}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,30},{51,55}}</string>
                <key>sourceSize</key>
                <string>{51,85}</string>
            </dict>
            <key>Sprite 2390050.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,161},{51,55}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,30},{51,55}}</string>
                <key>sourceSize</key>
                <string>{51,85}</string>
            </dict>
            <key>Sprite 2390051.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,214},{51,55}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{51,55}}</string>
                <key>sourceSize</key>
                <string>{51,85}</string>
            </dict>
            <key>Sprite 2390052.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,214},{51,53}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,32},{51,53}}</string>
                <key>sourceSize</key>
                <string>{51,85}</string>
            </dict>
            <key>Sprite 2390053.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,326},{51,53}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{51,53}}</string>
                <key>sourceSize</key>
                <string>{51,85}</string>
            </dict>
            <key>Sprite 2390054.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,271},{51,53}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{51,53}}</string>
                <key>sourceSize</key>
                <string>{51,85}</string>
            </dict>
            <key>Sprite 2390055.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,267},{51,51}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,85}</string>
            </dict>
            <key>Sprite 2390056.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,108},{51,51}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,85}</string>
            </dict>
            <key>Sprite 2390057.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,161},{51,51}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,85}</string>
            </dict>
            <key>Sprite 2390058.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,422},{51,49}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{51,49}}</string>
                <key>sourceSize</key>
                <string>{51,85}</string>
            </dict>
            <key>Sprite 2390059.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,371},{51,49}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{51,49}}</string>
                <key>sourceSize</key>
                <string>{51,85}</string>
            </dict>
            <key>Sprite 2390060.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,320},{51,49}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{51,49}}</string>
                <key>sourceSize</key>
                <string>{51,85}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>time.png</string>
            <key>size</key>
            <string>{507,473}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cdbcde75a2d6f42dff451bbdf1bd1fd9:0ec1a1a8354b17601db3d642fc855570:2a1ad14612967335499add5c3f4ab356$</string>
            <key>textureFileName</key>
            <string>time.png</string>
        </dict>
    </dict>
</plist>
