<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill/skill06/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,662},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill06/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,668},{40,224}}</string>
                <key>offset</key>
                <string>{-1,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,38},{40,224}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill06/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,2},{120,286}}</string>
                <key>offset</key>
                <string>{-2,102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,11},{120,286}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill06/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,416},{128,244}}</string>
                <key>offset</key>
                <string>{0,124}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,10},{128,244}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill06/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,254},{128,236}}</string>
                <key>offset</key>
                <string>{0,126}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,12},{128,236}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill06/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,254},{126,218}}</string>
                <key>offset</key>
                <string>{-1,117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,30},{126,218}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill06/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,578},{98,206}}</string>
                <key>offset</key>
                <string>{-2,111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,42},{98,206}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill06/00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,184},{44,58}}</string>
                <key>offset</key>
                <string>{-13,133}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,94},{44,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill06/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,662},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill06/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,792},{196,140}}</string>
                <key>offset</key>
                <string>{65,110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,76},{196,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill06/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{270,194}}</string>
                <key>offset</key>
                <string>{58,114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,45},{270,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill06/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,412},{210,164}}</string>
                <key>offset</key>
                <string>{84,124}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,50},{210,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill06/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,576},{202,160}}</string>
                <key>offset</key>
                <string>{87,124}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,52},{202,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill06/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,786},{184,158}}</string>
                <key>offset</key>
                <string>{79,123}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,54},{184,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill06/10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,780},{178,142}}</string>
                <key>offset</key>
                <string>{77,115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{244,70},{178,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill06/10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,182},{56,36}}</string>
                <key>offset</key>
                <string>{86,126}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{314,112},{56,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill06/20000.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,662},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill06/20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,384},{224,40}}</string>
                <key>offset</key>
                <string>{101,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,171},{224,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill06/20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{286,120}}</string>
                <key>offset</key>
                <string>{98,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,130},{286,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill06/20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,662},{242,128}}</string>
                <key>offset</key>
                <string>{120,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{255,128},{242,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill06/20004.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,124},{238,128}}</string>
                <key>offset</key>
                <string>{122,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,128},{238,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill06/20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,222},{218,126}}</string>
                <key>offset</key>
                <string>{113,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{260,128},{218,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill06/20006.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,474},{206,100}}</string>
                <key>offset</key>
                <string>{107,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{260,139},{206,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill06/20007.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,906},{56,44}}</string>
                <key>offset</key>
                <string>{130,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{358,157},{56,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill06/30000.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,662},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill06/30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,576},{196,136}}</string>
                <key>offset</key>
                <string>{104,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{262,188},{196,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill06/30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{248,216}}</string>
                <key>offset</key>
                <string>{106,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,141},{248,216}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill06/30003.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,254},{218,156}}</string>
                <key>offset</key>
                <string>{116,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,199},{218,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill06/30004.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,578},{212,152}}</string>
                <key>offset</key>
                <string>{118,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{268,201},{212,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill06/30005.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,426},{198,148}}</string>
                <key>offset</key>
                <string>{110,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{267,200},{198,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill06/30006.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,784},{188,136}}</string>
                <key>offset</key>
                <string>{106,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{268,200},{188,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill06/30007.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,124},{46,56}}</string>
                <key>offset</key>
                <string>{125,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{358,235},{46,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill06/40000.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,662},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill06/40001.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,442},{40,224}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,147},{40,224}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill06/40002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{120,286}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,113},{120,286}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill06/40003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,704},{128,242}}</string>
                <key>offset</key>
                <string>{4,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,157},{128,242}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill06/40004.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,124},{128,238}}</string>
                <key>offset</key>
                <string>{4,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,161},{128,238}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill06/40005.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,2},{126,218}}</string>
                <key>offset</key>
                <string>{5,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,162},{126,218}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill06/40006.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,576},{100,206}}</string>
                <key>offset</key>
                <string>{7,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,162},{100,206}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill06/40007.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,124},{44,58}}</string>
                <key>offset</key>
                <string>{17,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,258},{44,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill06.png</string>
            <key>size</key>
            <string>{978,989}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dbe02da345b925df0ce3e87d0dcabe1c:2509f00d20f87d4b91bd2705abe294d3:16f0b1a132ef51f7cec92314f9df4217$</string>
            <key>textureFileName</key>
            <string>skill06.png</string>
        </dict>
    </dict>
</plist>
