<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill/skill04/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,212},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill04/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,212},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill04/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,850},{162,190}}</string>
                <key>offset</key>
                <string>{14,110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,51},{162,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill04/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1244,2},{214,236}}</string>
                <key>offset</key>
                <string>{-1,117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,21},{214,236}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill04/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,450},{206,220}}</string>
                <key>offset</key>
                <string>{-7,125}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,21},{206,220}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill04/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,450},{200,218}}</string>
                <key>offset</key>
                <string>{-4,125}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,22},{200,218}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill04/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,650},{198,214}}</string>
                <key>offset</key>
                <string>{-4,123}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,26},{198,214}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill04/00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,658},{190,212}}</string>
                <key>offset</key>
                <string>{-7,123}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,27},{190,212}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill04/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,212},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill04/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,212},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill04/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,658},{204,208}}</string>
                <key>offset</key>
                <string>{73,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,47},{204,208}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill04/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,704},{232,236}}</string>
                <key>offset</key>
                <string>{76,104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,34},{232,236}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill04/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,218},{222,236}}</string>
                <key>offset</key>
                <string>{71,103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,35},{222,236}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill04/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,400},{210,234}}</string>
                <key>offset</key>
                <string>{77,102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,37},{210,234}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill04/10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,612},{204,232}}</string>
                <key>offset</key>
                <string>{80,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,40},{204,232}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill04/10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,432},{200,232}}</string>
                <key>offset</key>
                <string>{78,100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,40},{200,232}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill04/20000.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,212},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill04/20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,212},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill04/20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,652},{206,164}}</string>
                <key>offset</key>
                <string>{87,107}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,67},{206,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill04/20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{256,208}}</string>
                <key>offset</key>
                <string>{110,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,57},{256,208}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill04/20004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{246,228}}</string>
                <key>offset</key>
                <string>{105,84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,58},{246,228}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill04/20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{242,230}}</string>
                <key>offset</key>
                <string>{107,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,66},{242,230}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill04/20006.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,442},{206,230}}</string>
                <key>offset</key>
                <string>{125,73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{278,68},{206,230}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill04/20007.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,634},{202,212}}</string>
                <key>offset</key>
                <string>{124,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{279,85},{202,212}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill04/30000.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,212},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill04/30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,212},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill04/30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,846},{160,160}}</string>
                <key>offset</key>
                <string>{5,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,110},{160,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill04/30003.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,218},{230,236}}</string>
                <key>offset</key>
                <string>{30,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,98},{230,236}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill04/30004.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,216},{214,242}}</string>
                <key>offset</key>
                <string>{31,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,99},{214,242}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill04/30005.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,2},{212,244}}</string>
                <key>offset</key>
                <string>{31,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,106},{212,244}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill04/30006.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,212},{186,242}}</string>
                <key>offset</key>
                <string>{45,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,110},{186,242}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill04/30007.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,850},{158,224}}</string>
                <key>offset</key>
                <string>{58,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,128},{158,224}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill04/40000.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,212},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill04/40001.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,212},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill04/40002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,868},{150,144}}</string>
                <key>offset</key>
                <string>{-27,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,124},{150,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill04/40003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{232,238}}</string>
                <key>offset</key>
                <string>{5,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,111},{232,238}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill04/40004.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,2},{214,244}}</string>
                <key>offset</key>
                <string>{5,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,113},{214,244}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill04/40005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,2},{214,242}}</string>
                <key>offset</key>
                <string>{4,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,122},{214,242}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill04/40006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1214,240},{208,240}}</string>
                <key>offset</key>
                <string>{7,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,125},{208,240}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill04/40007.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,838},{174,190}}</string>
                <key>offset</key>
                <string>{24,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,175},{174,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill04.png</string>
            <key>size</key>
            <string>{1461,1014}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a2d83467514bd2da12b68318310f9a1a:272361ccdf8520be0735e047b58dc7e4:8bee40fe5ea9acd2f0ec827f7087662e$</string>
            <key>textureFileName</key>
            <string>skill04.png</string>
        </dict>
    </dict>
</plist>
