<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill/skill07/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,170},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill07/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,170},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill07/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,170},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill07/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,506},{146,164}}</string>
                <key>offset</key>
                <string>{-19,123}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,51},{146,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill07/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,170},{174,144}}</string>
                <key>offset</key>
                <string>{-6,132}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,52},{174,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill07/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,654},{168,146}}</string>
                <key>offset</key>
                <string>{-3,127}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,56},{168,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill07/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,198},{162,150}}</string>
                <key>offset</key>
                <string>{7,122}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,59},{162,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill07/00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,802},{162,142}}</string>
                <key>offset</key>
                <string>{6,119}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,66},{162,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill07/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,170},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill07/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,170},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill07/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,170},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill07/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,176},{202,126}}</string>
                <key>offset</key>
                <string>{2,114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,79},{202,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill07/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{196,176}}</string>
                <key>offset</key>
                <string>{7,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,83},{196,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill07/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{166,182}}</string>
                <key>offset</key>
                <string>{24,83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,82},{166,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill07/10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,472},{128,180}}</string>
                <key>offset</key>
                <string>{46,80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,86},{128,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill07/10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,602},{128,178}}</string>
                <key>offset</key>
                <string>{46,80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,87},{128,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill07/20000.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,170},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill07/20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,170},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill07/20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,170},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill07/20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,304},{210,130}}</string>
                <key>offset</key>
                <string>{25,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,96},{210,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill07/20004.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,886},{130,158}}</string>
                <key>offset</key>
                <string>{57,79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{248,98},{130,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill07/20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,362},{142,150}}</string>
                <key>offset</key>
                <string>{49,72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,109},{142,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill07/20006.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,436},{202,146}}</string>
                <key>offset</key>
                <string>{18,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,117},{202,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill07/20007.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,584},{200,136}}</string>
                <key>offset</key>
                <string>{18,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,126},{200,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill07/30000.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,170},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill07/30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,170},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill07/30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,170},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill07/30003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{186,186}}</string>
                <key>offset</key>
                <string>{33,83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,80},{186,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill07/30004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{174,186}}</string>
                <key>offset</key>
                <string>{39,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,82},{174,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill07/30005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,740},{174,178}}</string>
                <key>offset</key>
                <string>{36,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,95},{174,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill07/30006.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,316},{176,154}}</string>
                <key>offset</key>
                <string>{35,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,122},{176,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill07/30007.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,732},{170,152}}</string>
                <key>offset</key>
                <string>{33,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,124},{170,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill07/40000.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,170},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill07/40001.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,170},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill07/40002.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,170},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill07/40003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,556},{176,182}}</string>
                <key>offset</key>
                <string>{31,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,78},{176,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill07/40004.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,2},{194,172}}</string>
                <key>offset</key>
                <string>{23,83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,87},{194,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill07/40005.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,2},{194,150}}</string>
                <key>offset</key>
                <string>{23,68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,113},{194,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill07/40006.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,850},{200,126}}</string>
                <key>offset</key>
                <string>{15,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,137},{200,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill07/40007.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,722},{200,126}}</string>
                <key>offset</key>
                <string>{15,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,138},{200,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill07.png</string>
            <key>size</key>
            <string>{732,1018}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:53fc2fcad396479b005ce5afb5d2e4a5:0033fb139aaca9910b91f1482d552fbd:6b64d037b88bac90873e0c5de6a64fd0$</string>
            <key>textureFileName</key>
            <string>skill07.png</string>
        </dict>
    </dict>
</plist>
