<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill/skill03/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,954},{212,270}}</string>
                <key>offset</key>
                <string>{-1,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,59},{212,270}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill03/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,570},{204,282}}</string>
                <key>offset</key>
                <string>{-2,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,59},{204,282}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill03/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,358},{210,290}}</string>
                <key>offset</key>
                <string>{-2,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,59},{210,290}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill03/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,984},{184,162}}</string>
                <key>offset</key>
                <string>{9,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,112},{184,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill03/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,216},{122,150}}</string>
                <key>offset</key>
                <string>{9,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,115},{122,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill03/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,368},{70,70}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,218},{70,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill03/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,1832},{242,196}}</string>
                <key>offset</key>
                <string>{39,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,91},{242,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill03/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1372},{256,202}}</string>
                <key>offset</key>
                <string>{33,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,90},{256,202}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill03/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{298,206}}</string>
                <key>offset</key>
                <string>{12,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,89},{298,206}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill03/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,750},{280,202}}</string>
                <key>offset</key>
                <string>{-5,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,101},{280,202}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill03/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,1622},{244,208}}</string>
                <key>offset</key>
                <string>{12,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,99},{244,208}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill03/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,2},{212,106}}</string>
                <key>offset</key>
                <string>{26,73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,130},{212,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill03/20000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,566},{284,182}}</string>
                <key>offset</key>
                <string>{55,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,109},{284,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill03/20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{290,176}}</string>
                <key>offset</key>
                <string>{52,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,110},{290,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill03/20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{300,180}}</string>
                <key>offset</key>
                <string>{47,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,111},{300,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill03/20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{302,176}}</string>
                <key>offset</key>
                <string>{31,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,111},{302,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill03/20004.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,184},{298,172}}</string>
                <key>offset</key>
                <string>{26,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,111},{298,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill03/20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,570},{198,142}}</string>
                <key>offset</key>
                <string>{52,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,145},{198,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill03/30000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1576},{248,200}}</string>
                <key>offset</key>
                <string>{44,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,128},{248,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill03/30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,1436},{254,184}}</string>
                <key>offset</key>
                <string>{42,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,138},{254,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill03/30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,1006},{268,226}}</string>
                <key>offset</key>
                <string>{35,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,100},{268,226}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill03/30003.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,776},{278,228}}</string>
                <key>offset</key>
                <string>{12,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,95},{278,228}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill03/30004.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,1170},{254,176}}</string>
                <key>offset</key>
                <string>{20,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,148},{254,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill03/30005.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,1426},{170,186}}</string>
                <key>offset</key>
                <string>{27,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,138},{170,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill03/40000.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,1598},{208,210}}</string>
                <key>offset</key>
                <string>{4,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,132},{208,210}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill03/40001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1832},{204,238}}</string>
                <key>offset</key>
                <string>{6,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,104},{204,238}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill03/40002.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,1234},{200,266}}</string>
                <key>offset</key>
                <string>{1,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,76},{200,266}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill03/40003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1168},{202,268}}</string>
                <key>offset</key>
                <string>{6,78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,44},{202,268}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill03/40004.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,1832},{196,202}}</string>
                <key>offset</key>
                <string>{8,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,106},{196,202}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill03/40005.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,776},{162,206}}</string>
                <key>offset</key>
                <string>{-14,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,83},{162,206}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill03.png</string>
            <key>size</key>
            <string>{728,2042}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4b3b107d402cf6414c51e2bf8dbe31c0:26be0a5de33f665e8043f1638c9cd784:26b43e7469fd07ae4f6b65397a0d483c$</string>
            <key>textureFileName</key>
            <string>skill03.png</string>
        </dict>
    </dict>
</plist>
