<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill/skill05/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill05/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill05/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1196,144},{94,68}}</string>
                <key>offset</key>
                <string>{11,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,199},{94,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill05/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,2},{140,218}}</string>
                <key>offset</key>
                <string>{-8,97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,50},{140,218}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill05/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,290},{134,208}}</string>
                <key>offset</key>
                <string>{-8,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,59},{134,208}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill05/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,328},{108,168}}</string>
                <key>offset</key>
                <string>{-22,113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,59},{108,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill05/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill05/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill05/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1196,214},{112,82}}</string>
                <key>offset</key>
                <string>{-2,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,191},{112,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill05/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,244},{132,238}}</string>
                <key>offset</key>
                <string>{0,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,45},{132,238}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill05/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,234},{132,230}}</string>
                <key>offset</key>
                <string>{-2,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,43},{132,230}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill05/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,144},{132,164}}</string>
                <key>offset</key>
                <string>{-3,131}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,43},{132,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill05/20000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill05/20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill05/20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,328},{160,148}}</string>
                <key>offset</key>
                <string>{-24,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,124},{160,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill05/20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{238,240}}</string>
                <key>offset</key>
                <string>{15,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,42},{238,240}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill05/20004.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,2},{228,222}}</string>
                <key>offset</key>
                <string>{9,94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,51},{228,222}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill05/20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,136},{214,152}}</string>
                <key>offset</key>
                <string>{14,128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,52},{214,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill05/30000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill05/30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill05/30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,290},{86,184}}</string>
                <key>offset</key>
                <string>{-16,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,90},{86,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill05/30003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{208,240}}</string>
                <key>offset</key>
                <string>{44,86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,50},{208,240}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill05/30004.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{196,232}}</string>
                <key>offset</key>
                <string>{39,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,48},{196,232}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill05/30005.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,232},{194,222}}</string>
                <key>offset</key>
                <string>{40,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,48},{194,222}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill05/40000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill05/40001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill05/40002.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,466},{32,182}}</string>
                <key>offset</key>
                <string>{-33,88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,77},{32,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill05/40003.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,2},{148,230}}</string>
                <key>offset</key>
                <string>{22,86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,55},{148,230}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill05/40004.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,236},{136,232}}</string>
                <key>offset</key>
                <string>{19,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,43},{136,232}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill/skill05/40005.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,2},{132,222}}</string>
                <key>offset</key>
                <string>{21,102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,43},{132,222}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill05.png</string>
            <key>size</key>
            <string>{1298,500}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f5636b209945d3e515edd3cb63d3deb1:a56dd22e47ae0ab052e105c7551d40c1:c35262c84b3d470ff4d899dfaab770fc$</string>
            <key>textureFileName</key>
            <string>skill05.png</string>
        </dict>
    </dict>
</plist>
