<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Shape 126.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,510},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>Shape 127.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,313},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>Shape 129.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,530},{60,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,59}}</string>
                <key>sourceSize</key>
                <string>{60,59}</string>
            </dict>
            <key>Shape 131.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,449},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>Shape 133.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,530},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>Shape 135.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,387},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>Shape 137.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,522},{72,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,46}}</string>
                <key>sourceSize</key>
                <string>{72,46}</string>
            </dict>
            <key>Shape 139.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,536},{46,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,72}}</string>
                <key>sourceSize</key>
                <string>{46,72}</string>
            </dict>
            <key>Shape 144.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,506},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>Shape 146.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,517},{73,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,72}}</string>
                <key>sourceSize</key>
                <string>{73,72}</string>
            </dict>
            <key>Shape 171.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,480},{20,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,24}}</string>
                <key>sourceSize</key>
                <string>{20,24}</string>
            </dict>
            <key>Shape 172.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,358},{12,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,23}}</string>
                <key>sourceSize</key>
                <string>{12,23}</string>
            </dict>
            <key>Shape 173.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,313},{18,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,23}}</string>
                <key>sourceSize</key>
                <string>{18,23}</string>
            </dict>
            <key>Shape 174.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,571},{18,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,24}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>Shape 175.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,550},{19,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,23}}</string>
                <key>sourceSize</key>
                <string>{19,23}</string>
            </dict>
            <key>Shape 176.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,550},{18,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,23}}</string>
                <key>sourceSize</key>
                <string>{18,23}</string>
            </dict>
            <key>Shape 177.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,571},{18,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,24}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>Shape 178.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,571},{18,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,24}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>Shape 179.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,471},{18,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,23}}</string>
                <key>sourceSize</key>
                <string>{18,23}</string>
            </dict>
            <key>Shape 180.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,571},{18,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,24}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>Shape 231.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,2},{142,506}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,506}}</string>
                <key>sourceSize</key>
                <string>{142,506}</string>
            </dict>
            <key>Shape 232.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,141},{71,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,108}}</string>
                <key>sourceSize</key>
                <string>{71,108}</string>
            </dict>
            <key>Shape 240.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,424},{60,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,91}}</string>
                <key>sourceSize</key>
                <string>{60,91}</string>
            </dict>
            <key>Shape 257.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,424},{104,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,110}}</string>
                <key>sourceSize</key>
                <string>{104,110}</string>
            </dict>
            <key>Shape 258.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,454},{20,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,24}}</string>
                <key>sourceSize</key>
                <string>{20,24}</string>
            </dict>
            <key>Shape 259.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,283},{12,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,23}}</string>
                <key>sourceSize</key>
                <string>{12,23}</string>
            </dict>
            <key>Shape 260.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,571},{18,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,23}}</string>
                <key>sourceSize</key>
                <string>{18,23}</string>
            </dict>
            <key>Shape 261.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,571},{18,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,24}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>Shape 262.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,550},{19,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,23}}</string>
                <key>sourceSize</key>
                <string>{19,23}</string>
            </dict>
            <key>Shape 263.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,571},{18,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,23}}</string>
                <key>sourceSize</key>
                <string>{18,23}</string>
            </dict>
            <key>Shape 264.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,571},{18,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,24}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>Shape 265.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,571},{18,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,24}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>Shape 266.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,571},{18,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,23}}</string>
                <key>sourceSize</key>
                <string>{18,23}</string>
            </dict>
            <key>Shape 267.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,571},{18,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,24}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>Shape 270.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,387},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>Shape 319.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,424},{60,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,80}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>Shape 335.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{434,279}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{434,279}}</string>
                <key>sourceSize</key>
                <string>{434,279}</string>
            </dict>
            <key>Shape 338.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,146},{307,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,202}}</string>
                <key>sourceSize</key>
                <string>{307,202}</string>
            </dict>
            <key>Sprite 124.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,350},{46,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,72}}</string>
                <key>sourceSize</key>
                <string>{46,72}</string>
            </dict>
            <key>Sprite 142.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,251},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{60,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Sprite 3180001.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,506},{20,20}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{38,24}</string>
            </dict>
            <key>Sprite 3180002.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,387},{16,18}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{16,18}}</string>
                <key>sourceSize</key>
                <string>{38,24}</string>
            </dict>
            <key>Sprite 3180003.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,407},{12,12}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,6},{12,12}}</string>
                <key>sourceSize</key>
                <string>{38,24}</string>
            </dict>
            <key>Sprite 3180004.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,338},{18,18}}</string>
                <key>offset</key>
                <string>{-10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{18,18}}</string>
                <key>sourceSize</key>
                <string>{38,24}</string>
            </dict>
            <key>Sprite 3180005.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,496},{18,18}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,4},{18,18}}</string>
                <key>sourceSize</key>
                <string>{38,24}</string>
            </dict>
            <key>Sprite 337.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,283},{237,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{237,77}}</string>
                <key>sourceSize</key>
                <string>{245,85}</string>
            </dict>
            <key>Sprite 3420001.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,519},{136,63}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{136,63}}</string>
                <key>sourceSize</key>
                <string>{140,69}</string>
            </dict>
            <key>Sprite 3420002.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,454},{136,63}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{136,63}}</string>
                <key>sourceSize</key>
                <string>{140,69}</string>
            </dict>
            <key>Sprite 3450001.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,471},{137,63}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,63}}</string>
                <key>sourceSize</key>
                <string>{141,69}</string>
            </dict>
            <key>Sprite 3450002.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,2},{137,63}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,63}}</string>
                <key>sourceSize</key>
                <string>{141,69}</string>
            </dict>
            <key>Sprite 820001.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,558},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>Sprite 820002.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,477},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>Sprite 850001.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,449},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>Sprite 850002.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,530},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>rect01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,283},{289,265}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,265}}</string>
                <key>sourceSize</key>
                <string>{289,265}</string>
            </dict>
            <key>rect02.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,146},{276,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,163}}</string>
                <key>sourceSize</key>
                <string>{276,163}</string>
            </dict>
            <key>rect03.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,350},{158,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,102}}</string>
                <key>sourceSize</key>
                <string>{158,102}</string>
            </dict>
            <key>rect04.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,350},{160,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,119}}</string>
                <key>sourceSize</key>
                <string>{160,119}</string>
            </dict>
            <key>rect05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,550},{210,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,19}}</string>
                <key>sourceSize</key>
                <string>{210,19}</string>
            </dict>
            <key>rect06.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,146},{157,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,26}}</string>
                <key>sourceSize</key>
                <string>{157,26}</string>
            </dict>
            <key>rect07.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,146},{8,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,217}}</string>
                <key>sourceSize</key>
                <string>{8,217}</string>
            </dict>
            <key>spritee.png</key>
            <dict>
                <key>frame</key>
                <string>{{1011,2},{97,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,5}}</string>
                <key>sourceSize</key>
                <string>{97,5}</string>
            </dict>
            <key>tree01.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,536},{44,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,59}}</string>
                <key>sourceSize</key>
                <string>{44,59}</string>
            </dict>
            <key>tree02.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,283},{49,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,65}}</string>
                <key>sourceSize</key>
                <string>{49,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game.png</string>
            <key>size</key>
            <string>{1023,591}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:29d409dd1dfaa2df95a06e3f41f5481f:928f2ada65041708b90c9506197b8923:b2cae276934292945ac49b6ea6cfb4fe$</string>
            <key>textureFileName</key>
            <string>game.png</string>
        </dict>
    </dict>
</plist>
