<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{84,98}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{84,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>002.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,200},{80,98}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{80,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>003.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,102},{82,96}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{82,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>004.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,100},{80,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{80,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{84,98}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{84,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>006.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,300},{82,96}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{82,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{82,96}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{82,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>101.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,392},{72,74}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,26},{72,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>102.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,398},{72,74}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,26},{72,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>201.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{84,96}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{84,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>202.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,296},{80,94}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,6},{80,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>203.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{78,98}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,2},{78,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>204.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{78,100}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{78,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>205.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,200},{80,94}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,6},{80,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>206.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{84,96}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{84,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>207.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{84,96}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{84,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bibirole.png</string>
            <key>size</key>
            <string>{255,479}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5bfce3ada2c25cda24cad5fc0819da15:44d28767f08b159012488e45e45fe216:ebe5d3a744c3719768f0592112f6a5b5$</string>
            <key>textureFileName</key>
            <string>bibirole.png</string>
        </dict>
    </dict>
</plist>
