<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>banker.png</key>
            <dict>
                <key>frame</key>
                <string>{{1720,1317},{94,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{94,37}}</string>
                <key>sourceSize</key>
                <string>{98,39}</string>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,906},{800,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,450}}</string>
                <key>sourceSize</key>
                <string>{800,450}</string>
            </dict>
            <key>btnbutongyi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1242,1440},{94,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,44}}</string>
                <key>sourceSize</key>
                <string>{94,44}</string>
            </dict>
            <key>btnbutongyi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,1483},{94,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,44}}</string>
                <key>sourceSize</key>
                <string>{94,44}</string>
            </dict>
            <key>btnchat1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,1384},{88,80}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{88,80}}</string>
                <key>sourceSize</key>
                <string>{96,86}</string>
            </dict>
            <key>btnchat2.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,1384},{92,84}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{92,84}}</string>
                <key>sourceSize</key>
                <string>{96,86}</string>
            </dict>
            <key>btnchipclose1.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,822},{82,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>btnchipclose2.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,1470},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>btnchipnum.png</key>
            <dict>
                <key>frame</key>
                <string>{{1308,1358},{110,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,16}}</string>
                <key>sourceSize</key>
                <string>{110,16}</string>
            </dict>
            <key>btnchipok1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1128,1382},{118,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,48}}</string>
                <key>sourceSize</key>
                <string>{118,48}</string>
            </dict>
            <key>btnchipok2.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,1478},{118,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,48}}</string>
                <key>sourceSize</key>
                <string>{118,48}</string>
            </dict>
            <key>btndlgno1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,1450},{94,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,44}}</string>
                <key>sourceSize</key>
                <string>{94,44}</string>
            </dict>
            <key>btndlgno2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1404,1450},{94,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,44}}</string>
                <key>sourceSize</key>
                <string>{94,44}</string>
            </dict>
            <key>btndlgok1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,1404},{94,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,44}}</string>
                <key>sourceSize</key>
                <string>{94,44}</string>
            </dict>
            <key>btndlgok2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1404,1404},{94,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,44}}</string>
                <key>sourceSize</key>
                <string>{94,44}</string>
            </dict>
            <key>btndlgyes1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1308,1422},{94,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,44}}</string>
                <key>sourceSize</key>
                <string>{94,44}</string>
            </dict>
            <key>btndlgyes2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1308,1376},{94,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,44}}</string>
                <key>sourceSize</key>
                <string>{94,44}</string>
            </dict>
            <key>btnhuiqi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1814,1375},{56,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{56,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>btnhuiqi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,1496},{58,56}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{58,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>btnhuiqi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1712,1356},{56,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{56,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>btnlose1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1628,1403},{56,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{56,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>btnlose2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,822},{60,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{60,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>btnlose3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1816,1317},{56,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{56,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>btnmusic1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1490,1496},{92,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{92,30}}</string>
                <key>sourceSize</key>
                <string>{92,32}</string>
            </dict>
            <key>btnmusic2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1396,1496},{92,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,32}}</string>
                <key>sourceSize</key>
                <string>{92,32}</string>
            </dict>
            <key>btnpeace1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1584,1498},{56,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{56,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>btnpeace2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,1382},{58,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{58,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>btnpeace3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,1498},{56,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{56,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>btnset1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1662,1353},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{48,48}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>btnset2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1342,1502},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{52,52}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>btnsetclose1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1662,1461},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>btnsetclose2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1628,1461},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>btnsound1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1596,1404},{92,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{92,30}}</string>
                <key>sourceSize</key>
                <string>{92,32}</string>
            </dict>
            <key>btnsound2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1288,1468},{92,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,32}}</string>
                <key>sourceSize</key>
                <string>{92,32}</string>
            </dict>
            <key>btnstart1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,1203},{148,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{148,68}}</string>
                <key>sourceSize</key>
                <string>{150,70}</string>
            </dict>
            <key>btnstart2.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,822},{148,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{148,68}}</string>
                <key>sourceSize</key>
                <string>{150,70}</string>
            </dict>
            <key>btntongyi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1516,1358},{94,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,44}}</string>
                <key>sourceSize</key>
                <string>{94,44}</string>
            </dict>
            <key>btntongyi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1420,1358},{94,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,44}}</string>
                <key>sourceSize</key>
                <string>{94,44}</string>
            </dict>
            <key>chattip.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,1384},{138,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,92}}</string>
                <key>sourceSize</key>
                <string>{138,92}</string>
            </dict>
            <key>chessbai.png</key>
            <dict>
                <key>frame</key>
                <string>{{1886,1137},{28,30}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{28,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>chesshei.png</key>
            <dict>
                <key>frame</key>
                <string>{{1886,1105},{28,30}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{28,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>chesspoint.png</key>
            <dict>
                <key>frame</key>
                <string>{{1404,1376},{14,14}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{14,14}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>chipbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1104},{800,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,450}}</string>
                <key>sourceSize</key>
                <string>{800,450}</string>
            </dict>
            <key>chipnum.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,1528},{110,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,15}}</string>
                <key>sourceSize</key>
                <string>{110,15}</string>
            </dict>
            <key>exitcheck.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,652},{800,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,450}}</string>
                <key>sourceSize</key>
                <string>{800,450}</string>
            </dict>
            <key>exitgame1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1612,1353},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{48,48}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>exitgame2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1288,1502},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{52,52}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>exitno1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1822,1203},{112,49}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,49}}</string>
                <key>sourceSize</key>
                <string>{112,51}</string>
            </dict>
            <key>exitno2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1771,1203},{112,49}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,49}}</string>
                <key>sourceSize</key>
                <string>{112,51}</string>
            </dict>
            <key>exitok1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1720,1203},{112,49}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,49}}</string>
                <key>sourceSize</key>
                <string>{112,51}</string>
            </dict>
            <key>exitok2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1128,1432},{112,49}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,49}}</string>
                <key>sourceSize</key>
                <string>{112,51}</string>
            </dict>
            <key>messagebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,906},{308,197}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,197}}</string>
                <key>sourceSize</key>
                <string>{308,199}</string>
            </dict>
            <key>playtime.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,1105},{138,96}}</string>
                <key>offset</key>
                <string>{42,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,2},{138,96}}</string>
                <key>sourceSize</key>
                <string>{230,98}</string>
            </dict>
            <key>prgold.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,1529},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{22,22}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>prticket.png</key>
            <dict>
                <key>frame</key>
                <string>{{1490,1528},{32,26}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{32,26}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{1746,1105},{138,78}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{138,78}}</string>
                <key>sourceSize</key>
                <string>{138,112}</string>
            </dict>
            <key>result1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1114,454},{800,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,450}}</string>
                <key>sourceSize</key>
                <string>{800,450}</string>
            </dict>
            <key>result2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1114,2},{800,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,450}}</string>
                <key>sourceSize</key>
                <string>{800,450}</string>
            </dict>
            <key>resultnum.png</key>
            <dict>
                <key>frame</key>
                <string>{{1126,1358},{180,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,22}}</string>
                <key>sourceSize</key>
                <string>{180,22}</string>
            </dict>
            <key>selectchessbai.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,1466},{30,26}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{30,26}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>selectchesshei.png</key>
            <dict>
                <key>frame</key>
                <string>{{1524,1528},{30,26}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{30,26}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>selectchessno.png</key>
            <dict>
                <key>frame</key>
                <string>{{1288,1440},{26,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,7},{26,18}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>selecttip.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1110,648}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1110,648}}</string>
                <key>sourceSize</key>
                <string>{1110,648}</string>
            </dict>
            <key>set.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,652},{308,168}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,168}}</string>
                <key>sourceSize</key>
                <string>{308,170}</string>
            </dict>
            <key>time.png</key>
            <dict>
                <key>frame</key>
                <string>{{1746,1185},{110,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,16}}</string>
                <key>sourceSize</key>
                <string>{110,16}</string>
            </dict>
            <key>timebk.png</key>
            <dict>
                <key>frame</key>
                <string>{{1770,1356},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>timebkm.png</key>
            <dict>
                <key>frame</key>
                <string>{{1676,1203},{134,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{134,42}}</string>
                <key>sourceSize</key>
                <string>{138,42}</string>
            </dict>
            <key>waitchip.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,1358},{320,24}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{320,24}}</string>
                <key>sourceSize</key>
                <string>{330,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game.png</string>
            <key>size</key>
            <string>{1916,1556}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8ed10f509c37d5060bcdffbb6d16176f:5e5c5453c5ec363e3343247ea461053e:b2cae276934292945ac49b6ea6cfb4fe$</string>
            <key>textureFileName</key>
            <string>game.png</string>
        </dict>
    </dict>
</plist>
