<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{122,180}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{451,399},{122,180}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>stand/00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,530},{120,182}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{452,400},{120,182}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>stand/00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{120,182}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{452,400},{120,182}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>stand/00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,2},{118,182}}</string>
                <key>offset</key>
                <string>{2,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{455,399},{118,182}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>stand/00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,714},{118,178}}</string>
                <key>offset</key>
                <string>{1,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{454,400},{118,178}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>stand/00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,124},{116,176}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{454,400},{116,176}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>stand/00035.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,348},{118,176}}</string>
                <key>offset</key>
                <string>{-1,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{452,400},{118,176}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>stand/00040.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,242},{120,176}}</string>
                <key>offset</key>
                <string>{-1,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{451,400},{120,176}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>stand/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{138,170}}</string>
                <key>offset</key>
                <string>{-17,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{426,399},{138,170}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>stand/10010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{134,172}}</string>
                <key>offset</key>
                <string>{-19,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{426,400},{134,172}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>stand/10015.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,174},{130,172}}</string>
                <key>offset</key>
                <string>{-21,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{426,399},{130,172}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>stand/10020.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,2},{128,170}}</string>
                <key>offset</key>
                <string>{-22,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{426,400},{128,170}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>stand/10025.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,364},{130,168}}</string>
                <key>offset</key>
                <string>{-21,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{426,400},{130,168}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>stand/10030.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,488},{134,166}}</string>
                <key>offset</key>
                <string>{-20,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{425,399},{134,166}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>stand/10035.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{138,166}}</string>
                <key>offset</key>
                <string>{-19,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{424,399},{138,166}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>stand/10040.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{138,166}}</string>
                <key>offset</key>
                <string>{-17,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{426,400},{138,166}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>stand/20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,624},{130,160}}</string>
                <key>offset</key>
                <string>{-34,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{413,395},{130,160}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>stand/20010.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,496},{130,162}}</string>
                <key>offset</key>
                <string>{-36,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{411,394},{130,162}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>stand/20015.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,628},{132,160}}</string>
                <key>offset</key>
                <string>{-37,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{409,395},{132,160}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>stand/20020.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,756},{134,160}}</string>
                <key>offset</key>
                <string>{-38,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{407,393},{134,160}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>stand/20025.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,762},{136,158}}</string>
                <key>offset</key>
                <string>{-38,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{406,393},{136,158}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>stand/20030.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,682},{134,156}}</string>
                <key>offset</key>
                <string>{-35,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{410,394},{134,156}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>stand/20035.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,546},{134,156}}</string>
                <key>offset</key>
                <string>{-34,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{411,394},{134,156}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>stand/20040.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,122},{130,158}}</string>
                <key>offset</key>
                <string>{-33,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{414,394},{130,158}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>stand/30005.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,320},{144,156}}</string>
                <key>offset</key>
                <string>{-14,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{426,391},{144,156}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>stand/30010.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,612},{144,152}}</string>
                <key>offset</key>
                <string>{-16,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{424,391},{144,152}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>stand/30015.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,174},{144,152}}</string>
                <key>offset</key>
                <string>{-16,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{424,390},{144,152}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>stand/30020.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,466},{144,154}}</string>
                <key>offset</key>
                <string>{-16,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{424,389},{144,154}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>stand/30025.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,330},{144,156}}</string>
                <key>offset</key>
                <string>{-15,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{425,389},{144,156}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>stand/30030.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,400},{144,158}}</string>
                <key>offset</key>
                <string>{-14,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{426,390},{144,158}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>stand/30035.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,254},{144,158}}</string>
                <key>offset</key>
                <string>{-13,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{427,391},{144,158}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>stand/30040.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,170},{144,158}}</string>
                <key>offset</key>
                <string>{-13,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{427,391},{144,158}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>stand/40005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,894},{122,146}}</string>
                <key>offset</key>
                <string>{0,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{451,387},{122,146}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>stand/40010.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,678},{120,144}}</string>
                <key>offset</key>
                <string>{0,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{452,387},{120,144}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>stand/40015.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,818},{118,144}}</string>
                <key>offset</key>
                <string>{-1,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{452,387},{118,144}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>stand/40020.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,900},{118,144}}</string>
                <key>offset</key>
                <string>{-2,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{451,387},{118,144}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>stand/40025.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,900},{118,146}}</string>
                <key>offset</key>
                <string>{-1,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{452,386},{118,146}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>stand/40030.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,758},{116,146}}</string>
                <key>offset</key>
                <string>{0,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{454,386},{116,146}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>stand/40035.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,900},{118,146}}</string>
                <key>offset</key>
                <string>{0,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{453,387},{118,146}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>stand/40040.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,530},{120,146}}</string>
                <key>offset</key>
                <string>{0,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{452,387},{120,146}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stand.png</string>
            <key>size</key>
            <string>{920,1020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:718d08ca5731910e96a0607b4d019a4f:512ae66e2bb7de140a9795fd4c7ff579:1e674ececfeb72fdfdcf621c36ee6855$</string>
            <key>textureFileName</key>
            <string>stand.png</string>
        </dict>
    </dict>
</plist>
