<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,104},{104,166}}</string>
                <key>offset</key>
                <string>{-4,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{456,396},{104,166}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,2},{100,186}}</string>
                <key>offset</key>
                <string>{-6,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{456,397},{100,186}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,102},{102,192}}</string>
                <key>offset</key>
                <string>{-7,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{454,394},{102,192}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,210},{108,176}}</string>
                <key>offset</key>
                <string>{-11,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{447,391},{108,176}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,320},{114,168}}</string>
                <key>offset</key>
                <string>{-12,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{443,391},{114,168}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,436},{118,162}}</string>
                <key>offset</key>
                <string>{-10,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{443,392},{118,162}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>00035.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{116,170}}</string>
                <key>offset</key>
                <string>{-7,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{447,394},{116,170}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>00040.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,104},{104,180}}</string>
                <key>offset</key>
                <string>{-5,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{455,397},{104,180}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>00045.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,2},{100,182}}</string>
                <key>offset</key>
                <string>{-5,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{457,395},{100,182}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>00050.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,104},{104,176}}</string>
                <key>offset</key>
                <string>{-4,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{456,392},{104,176}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>00055.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,210},{108,162}}</string>
                <key>offset</key>
                <string>{-1,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{457,392},{108,162}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>00060.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,320},{112,162}}</string>
                <key>offset</key>
                <string>{-1,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{455,392},{112,162}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,958},{144,156}}</string>
                <key>offset</key>
                <string>{-33,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{407,397},{144,156}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>10010.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,802},{134,168}}</string>
                <key>offset</key>
                <string>{-38,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{407,400},{134,168}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>10015.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,950},{142,164}}</string>
                <key>offset</key>
                <string>{-30,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{411,398},{142,164}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>10020.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,1086},{156,154}}</string>
                <key>offset</key>
                <string>{-26,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{408,395},{156,154}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>10025.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,1102},{166,158}}</string>
                <key>offset</key>
                <string>{-26,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{403,396},{166,158}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>10030.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,1104},{166,166}}</string>
                <key>offset</key>
                <string>{-25,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{404,396},{166,166}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>10035.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,1104},{162,162}}</string>
                <key>offset</key>
                <string>{-28,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{403,399},{162,162}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>10040.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,1094},{156,168}}</string>
                <key>offset</key>
                <string>{-33,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{401,400},{156,168}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>10045.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,810},{134,166}}</string>
                <key>offset</key>
                <string>{-29,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{416,396},{134,166}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>10050.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,662},{128,156}}</string>
                <key>offset</key>
                <string>{-32,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{416,393},{128,156}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>10055.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,826},{142,154}}</string>
                <key>offset</key>
                <string>{-29,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{412,392},{142,154}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>10060.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1078},{152,158}}</string>
                <key>offset</key>
                <string>{-27,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{409,392},{152,158}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,684},{188,130}}</string>
                <key>offset</key>
                <string>{-41,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{377,401},{188,130}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>20010.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,556},{184,126}}</string>
                <key>offset</key>
                <string>{-50,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{370,402},{184,126}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>20015.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,436},{152,120}}</string>
                <key>offset</key>
                <string>{-46,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{390,402},{152,120}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>20020.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,544},{164,122}}</string>
                <key>offset</key>
                <string>{-39,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{391,398},{164,122}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>20025.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,680},{186,128}}</string>
                <key>offset</key>
                <string>{-40,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{379,400},{186,128}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>20030.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,820},{192,136}}</string>
                <key>offset</key>
                <string>{-39,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{377,402},{192,136}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>20035.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,958},{188,142}}</string>
                <key>offset</key>
                <string>{-39,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{379,403},{188,142}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>20040.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,686},{182,132}}</string>
                <key>offset</key>
                <string>{-44,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{377,402},{182,132}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>20045.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,552},{156,126}}</string>
                <key>offset</key>
                <string>{-43,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{391,398},{156,126}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>20050.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,558},{176,126}}</string>
                <key>offset</key>
                <string>{-44,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{380,398},{176,126}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>20055.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,816},{192,132}}</string>
                <key>offset</key>
                <string>{-45,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{371,398},{192,132}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>20060.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,938},{190,138}}</string>
                <key>offset</key>
                <string>{-38,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{379,398},{190,138}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>30005.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,668},{154,132}}</string>
                <key>offset</key>
                <string>{-32,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{403,400},{154,132}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>30010.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,206},{146,106}}</string>
                <key>offset</key>
                <string>{-34,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{405,412},{146,106}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>30015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,98}}</string>
                <key>offset</key>
                <string>{-31,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{418,409},{126,98}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>30020.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,314},{120,110}}</string>
                <key>offset</key>
                <string>{-32,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{420,404},{120,110}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>30025.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,550},{126,128}}</string>
                <key>offset</key>
                <string>{-36,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{413,394},{126,128}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>30030.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,792},{140,140}}</string>
                <key>offset</key>
                <string>{-37,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{405,388},{140,140}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>30035.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,686},{138,136}}</string>
                <key>offset</key>
                <string>{-39,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{404,393},{138,136}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>30040.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,210},{136,108}}</string>
                <key>offset</key>
                <string>{-36,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{408,410},{136,108}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>30045.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{132,98}}</string>
                <key>offset</key>
                <string>{-28,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{418,409},{132,98}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>30050.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,2},{144,100}}</string>
                <key>offset</key>
                <string>{-29,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{411,407},{144,100}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>30055.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,426},{158,116}}</string>
                <key>offset</key>
                <string>{-33,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{400,403},{158,116}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>30060.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,946},{158,138}}</string>
                <key>offset</key>
                <string>{-32,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{401,392},{158,138}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>40005.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,206},{104,162}}</string>
                <key>offset</key>
                <string>{4,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{464,376},{104,162}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>40010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{100,124}}</string>
                <key>offset</key>
                <string>{6,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{468,394},{100,124}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>40015.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,2},{102,98}}</string>
                <key>offset</key>
                <string>{6,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{467,396},{102,98}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>40020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{108,116}}</string>
                <key>offset</key>
                <string>{11,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{469,394},{108,116}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>40025.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,432},{116,148}}</string>
                <key>offset</key>
                <string>{12,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{466,381},{116,148}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>40030.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,540},{120,164}}</string>
                <key>offset</key>
                <string>{10,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{462,373},{120,164}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>40035.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,434},{116,158}}</string>
                <key>offset</key>
                <string>{7,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{461,379},{116,158}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>40040.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,102},{102,118}}</string>
                <key>offset</key>
                <string>{4,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{465,399},{102,118}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>40045.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{98,98}}</string>
                <key>offset</key>
                <string>{3,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{466,401},{98,98}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>40050.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{104,122}}</string>
                <key>offset</key>
                <string>{3,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{463,387},{104,122}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>40055.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,312},{108,152}}</string>
                <key>offset</key>
                <string>{1,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{459,372},{108,152}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>40060.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,320},{110,176}}</string>
                <key>offset</key>
                <string>{0,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{457,361},{110,176}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xiaoxue001.png</string>
            <key>size</key>
            <string>{1016,1272}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4c72f266b655bfb187a76e2c6cf2b5ca:f4334f0f11d5ff25d5b07764705672e8:204e5b976857eab68376219aafa26639$</string>
            <key>textureFileName</key>
            <string>xiaoxue001.png</string>
        </dict>
    </dict>
</plist>
